.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 94px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 51px 0 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 76px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 23px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 77px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}.u-section-4 .u-sheet-1 {
  min-height: 502px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 77px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 502px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 77px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 60px 0;
}